!.vscode/extensions.json
!.vscode/launch.json
!.vscode/settings.json
!.vscode/tasks.json
*.launch
*.log
*.pid
*.pid.lock
*.seed
*.sublime-workspace
*.tgz
.c9/
.classpath
.DS_Store
.env
.eslintcache
.grunt
.lock-wscript
.next
.node_repl_history
.npm
.nyc_output
.project
.settings/
.vscode/*
.yarn-integrity
/.idea
/.sass-cache
/connect.lock
/coverage
/dist
/libpeerconnection.log
/node_modules
/out-tsc
/tmp
/typings
bower_components
build/Release
coverage
jspm_packages/
lib-cov
logs
node_modules/
npm-debug.log
npm-debug.log*
pids
testem.log
Thumbs.db
typings/
yarn-debug.log*
yarn-error.log
