<div class="flex flex-column flex-row-ns justify-center-ns w-100">
  <div class="flex flex-column items-center pa2">
    <ng-content select="[appointment-calendar]"></ng-content>
  </div>
  <div class="w-100 w-auto-l">
    <div class="flex flex-row items-center pa2 bg-backdrop-blue">
      <div class="flex items-center justify-center ph1 br3 bg-secondary-light f3 white">
        <span class="mv3">{{ selectedStartTime | date : 'MM.dd.'}}</span>
      </div>
      <form class="flex flex-wrap items-end w-100 ml2">
        <div class="mv1 mr2">
          <small>Foglalóidő kezdete</small>
          <app-time-input [(ngModel)]="selectedStartTime" name="start"></app-time-input>
        </div>
        <div class="mv1 mr3">
          <small>Foglalóidő vége</small>
          <app-time-input [(ngModel)]="selectedEndTime" name="end"></app-time-input>
        </div>
        <button pill-button type="button" size="medium" class="mv1 mr2 bg-primary ttu" [disabled]="selectedStartTime > selectedEndTime"
          (click)="onSelectTimeInterval()">Hozzáad</button>
        <button pill-button type="button" size="medium" class="mv1 bg-secondary ttu" [disabled]="!isDirty" (click)="onSubmit()">
          <i class="fa fa-bookmark"></i>
          Mentés
        </button>
      </form>
    </div>
    <div *ngIf="appointmentFormModelsByStartUtc.size" class="w-100">
      <div *ngFor="let appointment of (getAppointmentFormModels() | appointmentListPipe:selectedDay)" class="flex flex-row ma1">
        <div class="w-100 ph2 br2 bg-light-gray f6 b dark-gray" [ngClass]="{'gray': appointment.isDeleted }">
          <p class="mv2"> <i class="fa fa-clock-o"></i> {{ appointment.startUtc | date: 'HH:mm' : 'UTC' }}
          </p>
        </div>
        <button *ngIf="!appointment.isDeleted" class="mh1 ph2 bn br2 pointer bg-red f5 white" (click)="onDeleteAppointment(appointment);">
          <i class="fa fa-trash-o"></i>
        </button>
        <button *ngIf="appointment.isDeleted" class="mh1 ph2 bn br2 pointer bg-yellow f5 white" (click)="onUndoDeleteAppointment(appointment);">
          <i class="fa fa-undo"></i>
        </button>
      </div>
    </div>
  </div>
</div>