@import '../../../../sass/variables';
@import '../../../../../node_modules/tachyons-sass/tachyons.scss';

p-calendar,
.ui-calendar,
.calendar-panel {
  width: 100%;
  min-width: 280px;
}

.ui-datepicker-header.ui-widget-header {
  background: white;
  border: none;
}

.ui-datepicker-calendar .ui-state-default,
.ui-datepicker-calendar .ui-state-highlight,
.ui-datepicker-calendar .ui-state-active {
  text-align: center;
  border: 1px;
  border-color: white;
  border-radius: $border-radius-3;
  padding-bottom: $spacing-none;
  padding-top: $spacing-none;
  padding-left: $spacing-none;
  padding-right: $spacing-none;
  margin: $spacing-extra-small;
}

.ui-datepicker-calendar .ui-state-highlight {
  background-color: $light-gray;
}

.ui-datepicker-calendar .ui-state-active,
.ui-datepicker-calendar .ui-state-active > span {
  background-color: $secondaryLight;
  color: white;
}

.timepicker-panel {
  width: auto;
}

.ui-timepicker {
  padding-left: $spacing-medium;
  padding-right: $spacing-medium;
  padding-top: $spacing-none;
  padding-bottom: $spacing-none;
  background: white;
  border: none;
  font-size: $font-size-6;
}
